{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Comitê</title>
</head>
<body>
    <div class="container">
        <h1>Bem vindo a lista de competições do comitê olimpico!</h1>
        <div class="Cadastro">
            <h4>Caso queira cadastrar uma nova competição clique abaixo</h4>
            <a href="{% url 'cadastro' %}" class="btn btn-primary">Cadastrar competição</a>
        </div>
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="https://atletisminterativo.weebly.com/uploads/1/4/5/3/14536042/6781601.jpg" class="card-img-top" alt="Lançamento de Dardo">
                <div class="card-body"style="padding-right: 20px;">
                  <h5 class="card-title">Lançamento de Dardo.</h5>
                  <p class="card-text">Lançamento de dardo ou lançamento do dardo é uma modalidade olímpica do atletismo existente desde a Grécia Antiga.</p>
                  <a href="#" class="btn btn-primary">Clique para saber mais</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://3.bp.blogspot.com/-CjI2GUvqJQA/UdLIhOeTMhI/AAAAAAAAjeI/Pfu1Q4_xit8/s1600/100+METROS+RASOS+NO+ATLETISMO.jpg" class="card-img-top" alt="100m rasos">
                <div class="card-body">
                  <h5 class="card-title">100m rasos</h5>
                  <p class="card-text">Os 100 metros nos Jogos Olímpicos de Verão são disputados desde a primeira edição do evento multiesportivo.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>