{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar competição</title>
    <link rel="stylesheet" href="{% static 'criar/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body class="body">
    <div class="container">
        <h1>Adicionar uma competição</h1>
        <div class="cadastro">
            <div class="form-row">
                <div class="form-group col-md-11 control-label">
                <form action="." method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_local_da_competicao" class="form-label">Local da competição:</label>
                        <select name="local_da_competicao" required id="id_local_da_competicao" class="form-control">
                            <option value="" selected>---------</option>
                            <option value="Arena Corinthians">Arena Corinthians</option>
                            <option value="Arena Corinthians">Maracanã</option>                        
                        </select>                          
                    </div>
                    <div class="mb-3">
                        <label for="id_data" class="form-label">Data:</label>
                        <input type="text" name="data" required id="id_data" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="id_hora" class="form-label">Hora:</label>
                        <input type="text" name="hora" value="00:00:00" required id="id_hora" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="id_nome_do_atleta" class="form-label">Nome do atleta:</label>
                        <input type="text" name="nome_do_atleta" maxlength="100" required id="id_nome_do_atleta" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="id_idade_do_atleta" class="form-label">Idade do atleta:</label>
                        <input type="number" name="idade_do_atleta" required id="id_idade_do_atleta" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="id_peso_do_atleta" class="form-label">Peso do atleta:</label>
                        <input type="number" name="peso_do_atleta" step="any" required id="id_peso_do_atleta" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="id_altura_do_atleta" class="form-label">Altura do atleta:</label>
                        <input type="number" name="altura_do_atleta" step="any" required id="id_altura_do_atleta" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="id_tempo_de_chegada_na_primeira_prova" class="form-label">Tempo de chegada na primeira prova:</label>
                        <input class="form-control" type="number" name="tempo_de_chegada_na_primeira_prova" step="any" required id="id_tempo_de_chegada_na_primeira_prova">
                    </div>
                    <div class="mb-3">
                        <label for="id_metros_de_distancia" class="form-label">Metros de distancia:</label>
                        <input type="number" name="metros_de_distancia" required id="id_metros_de_distancia" class="form-control">
                    </div>
                    <input type="submit" value="Salvar" class="btn btn-primary" class="form-label">
                    <a href="{% url 'ranking'%}" class="btn btn-primary">Visualizar tabela da competição</a>
                </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-light text-center">
        <div class="text-center p-3" style="background-color: white;">
          © 2022 Copyright:
          <a class="text-dark" href="https://github.com/allystor">Alvaro Veiga - Developer</a>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>